/* ____________________ FONTS ____________________ */

@font-face {
    font-family: 'Prata';
    src: local('Prata'),
        url('../../fonts/PrataRegular.woff'),
        url('../../fonts/PrataRegular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('RalewayLight'),
        url('../../fonts/RalewayLight.woff'),
        url('../../fonts/RalewayLight.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('RalewayRegular'),
        url('../../fonts/RalewayRegular.woff'),
        url('../../fonts/RalewayRegular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('RalewayMedium'),
        url('../../fonts/RalewayMedium.woff'),
        url('../../fonts/RalewayMedium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}